.card{
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 650px;
    min-height: 650px;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    &_image{
        max-width: 310px;
        padding-right: 4%;
        align-self: center;
    }
    &_titles{
        width: 100%;
        min-height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: flex-start;
        &_first{
            width: 100%;
            text-align: center;
            font-size: 22px;
            font-weight: 800;
            min-height: 60px;
        }
        &_second{
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
        }
    }
    &_links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
        &_link{
            text-decoration: none;
            color: var(--color-grey);
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                color: var(--color-yellow);
            }
            &_icon{
                padding-right: 10px;
                font-size: 24px;
                color: var(--color-yellow);
            }
        }
    }
    &_text{
        background-color: #fafafa;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        padding: 20px;
        line-height: 30px;
    }
}

@media (max-width: 878px){
    .card{
        overflow-x: hidden;
        &_image{
            padding: 5%;
        }
    }
}