
html, body {
    font-family: var(--font-serrat);
    color: var(--color-white);

}

::selection {
  background-color: var(--color-yellow);
  color: var(--color-grey)
}
body{
    overflow-x: hidden;
    background-color: #131313;
      background-image: url(https://www.transparenttextures.com/patterns/rebel.png);
}


