.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    justify-content: center;
    align-items: flex-start;
    scroll-margin-top: calc(45px + 3.6rem);
    &_title{
        font-weight: 800;
        font-size: 45px;
    }
    &_text{
        font-weight: 400;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_text_linkedin{
        font-size: 30px;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none;
        color: var(--color-grey);
        &:hover{
            color: #007ACC; 
        }
        &:hover::before{
            content: "Linkedin";
            width: 3%;
            display: flex;
            justify-content: center;
            height: 15px;
            background-color: #fafafa2d;
            border-radius: 5px;
            position: absolute;
            color: #fafafa;
            font-size: 10px;
            bottom: 0px;
            
        }
    }
    &_text_whatsapp{
        font-size: 30px;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: none;
        color: var(--color-grey);
        &:hover{
            color: #0baa05; 
        }
        &:hover::before{
            content: "Whatsapp";
            width: 3%;
            display: flex;
            justify-content: center;
            height: 15px;
            background-color: #fafafa2d;
            border-radius: 5px;
            position: absolute;
            color: #fafafa;
            font-size: 10px;
            bottom: 0px;
            
        }
    }
    &_form{
        align-self: center;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    &_label{
        display: flex;
        flex-direction: column;
        font-weight: 600;
        padding-top: 10px;
    }
    &_input{
        border: none;
        height: 40px;
        border-radius: 5px;
        background-color: #EFEFEF;
        &:focus{
            outline: none;
        }
    }
    &_error{
        height: 20px;
        color: rgb(236, 65, 65);
    }
    &_textarea{
        border: none;
        height: 120px;
        max-width: 100%;
        min-width: 100%;
        max-height: 160px;
        min-height: 120px;
        border-radius: 5px;
        background-color: #EFEFEF; 
        &:focus{
            outline: none;
        }
    }
    &_btn{
        align-self: center;
        border: none;
        width: 40%;
        background-color: var(--color-yellow);
        padding: 2% 5%;
        border-radius: 10px;
        font-family: var(--font-serrat);
        color: var(--color-grey);
        cursor: pointer;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 20px;
    }
}

@media (max-width: 878px){
    .contact{
        height: unset;
        &_title{
            align-self: center;
        }
        &_text{
            display: unset;
            justify-content: unset;
            align-items: unset;
            text-align: center;
        }
        &_text a{
            position: relative;
            top: 10px;
            font-size: 40px;
    }
        &_form{
        width: 100%;
    }
        &_text_linkedin{
        &:hover::before{
            display: none;
            
        }
    }
    &_text_whatsapp{
        &:hover::before{
            display: none;
            
        }
    }
}
}