.icons {
  display: flex;
  gap: 15px;
  a {
    opacity: 0.5;
    position: relative;
    z-index: 20;
    color: var(--color-grey);
    font-size: 25px;
    transition: all 0.5s ease;
  }

  a:hover {
    color: var(--color-yellow);
    opacity: 1;
  }
}